.member {
    text-align: center;

    &:hover {
        .memberRole {
            color: var(--main-black);
            background-color: var(--accent-orange);
        }
    }
}

.memberImageContainer {
    position: relative;
}

.memberImage {
    border-radius: 20px;
    width: 360px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.memberRole {
    position: absolute;
    right: 0.625em;
    bottom: 1.5em;

    padding: 0.25em 1.25em;
    border-radius: 1.75em;

    font-weight: 600;
    color: #fff;
    background-color: var(--main-black);

    transition: background-color, color 0.2s;
}

.memberName {
    padding: 0.8em 0 0.3em;

    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--main-black);
}

.socials {
    display: inline-flex;
    align-items: center;
    column-gap: 30px;

    padding-top: 1.5rem;
}