.wrapper {
    padding: 100px 0 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    column-gap: 120px;
}

.title {
    padding: 0.45em 0 0.35em;
}

.text {
    padding-bottom: 1em;
}

.vision {
    display: flex;
    column-gap: 20px;

    & + .vision {
        margin-top: 1em;
    }
}

.imageContainer {
    position: relative;
    flex: 1 0 auto;
    margin-top: 45px;

    &::before {
        content: ' ';
        z-index: 1;

        position: absolute;
        top: -15px;
        right: -30px;

        width: 125px;
        height: 125px;
        border-radius: 20px;

        background-color: var(--accent-green);
    }

    &::after {
        content: ' ';

        position: absolute;
        top: -45px;
        right: -70px;

        width: 225px;
        height: 225px;

        background: url("/decorations/aboutdec.svg") no-repeat center;
    }
}

.image {
    position: relative;
    z-index: 2;
    max-width: 490px;
    aspect-ratio: 14 / 9;
    object-fit: cover;
    border-radius: 20px;
}