.step {
    display: flex;
    align-items: start;
    column-gap: 1rem;

    padding: 1.75rem 0 2.5rem;
    border-top: 1px solid #C1C1C1;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.number, .title {
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    color: var(--main-black);
}

.number {
    padding: 0.4em 0.9em;
    border-radius: 100%;

    font-size: 1.625rem;
    color: #fff;
    background-color: var(--main-black);
}

.title {
    padding-bottom: 0.625em;
    font-size: 1.25rem;
}

.yellow {
    color: var(--main-black);
    background-color: var(--accent-orange);
}

.green {
    background-color: var(--accent-green);
}